{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body>

<!-- Navbar -->
<nav>
    <div class="logo">MySite</div>

    <ul class="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'service' %}">Service</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
</nav>

<!-- Hero Section -->
<section class="hero">
    <h1>Welcome to My Website</h1>
    <p>This is a simple front page design using HTML & CSS</p>
    <a href="/accounts/login/" class="btn">Log In</a>
</section>

</body>
</html>